[Unit]
Description=Install ProxMox-VE after system reboot
Before=getty@tty1.service

[Service]
ExecStart=/root/firstboot.sh

[Install]
WantedBy=getty.target
